.container {
  border: 1rem solid purple;
}

.items-menu {
  margin: 2rem;
  min-height: 80vw;
  border: 0.5rem dotted gold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  min-height: 8rem;
  min-width: max(8rem,40%);
  margin: 2rem;
  padding: 0.5rem;
  border: 5px dotted whitesmoke;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 1fr/ 1fr 1fr;
  background-color: palegreen;
}

.image{
  background-color: whitesmoke;
  min-height: 15vw;
  border-radius: 0.5rem;
}

.dish {
  min-height: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
}

.name {
  max-width: 50%;
  text-wrap: wrap;
}

.quantity {
  border-radius:  50%;
  height: 2rem;
  width: 2rem;
  background-color: red;
  position: relative;
  top: -555%;
  right: -100%;
  display: flex;
  justify-content: center;
  align-items: center;
}