.items-menu {
  margin: 2rem;
  min-height: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-container {
  min-width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.item {
  min-height: 8rem;
  min-width: max(8rem,min(40%,20rem));
  margin: 2rem;
  padding: 0.5rem;
  border-radius: 5rem 0.5rem 5rem 0.5rem;
  display: grid;
  grid-template-rows: 1fr/ 1fr 1fr;
  background-color: rgb(105, 139, 177);
}

.image{
  background-color: whitesmoke;
  border-radius: 5rem 0.5rem 5rem 0.5rem;
}

.image > img {
  max-height: 15vh;
  width: 100%;
  border-radius: 5rem 0.5rem 5rem 0.5rem;
  margin-top: 0.1rem;
}

.dish {
  min-height: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
}

.name {
  max-width: 50%;
  text-wrap: wrap;
}

.quantity {
  border-radius:  50%;
  height: 3rem;
  width: 3rem;
  font-size: 1.2rem;
  background-color: red;
  position: absolute;
  left: max(5rem,min(60%,85rem)) ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plus,
.minus {
  height: 5rem;
  width: 5rem;
  font-size: 1.5rem;
}

.minus {
  border-radius: 50% 10% 50% 10%;
  background-color: rgb(137, 32, 32);
}

.plus {
  border-radius: 10% 50% 10% 50%;
  background-color: green;
}